In [ ]:
import pandas as pd

carbon_df = pd.read_csv(
    "C:/Users/IlyaS.DESKTOP-SPGM6S1/Desktop/ДИПЛОМ/data_analysis/Steel- Property and Composition (Carbon Steel).csv",
    encoding="cp1251"
)

carbon_df.head()

,SAE Grade,Conditions,UTS (MPa),UTS (Ksi),YS (MPa),YS (ksi),Elongation (%),Reduction (%),Hardness (HB),C (Min),...,Si (Min),Si (Max),Ni (Min),Ni (Max),Cr (Min),Cr (Max),Mo (Min),Mo (Max),Ti (Min),Ti (Max)
0,1006,Hot rolled,295,43,165,24,30.0,55,86,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1006,Cold drawn,330,48,285,41,20.0,45,95,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1008,Hot rolled,305,44,170,24.5,30.0,55,86,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1008,Cold drawn,340,49,285,42,20.0,45,95,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1010,Hot rolled,325,47,180,26,28.0,50,95,0.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
carbon_df.columns

Index(['SAE Grade', 'Conditions', 'UTS (MPa)', 'UTS (Ksi)', 'YS (MPa)',
       'YS (ksi)', 'Elongation (%)', 'Reduction (%)', 'Hardness (HB)',
       'C (Min)', 'C (Max)', 'Mn (Min)', 'Mn (Max)', 'P (Min)', 'P (Max)',
       'S (Min)', 'S(Max)', 'Si (Min)', 'Si (Max)', 'Ni (Min)', 'Ni (Max)',
       'Cr (Min)', 'Cr (Max)', 'Mo (Min)', 'Mo (Max)', 'Ti (Min)', 'Ti (Max)'],
      dtype='object')

In [4]:
stainless_df = pd.read_csv(
    "C:/Users/IlyaS.DESKTOP-SPGM6S1/Desktop/ДИПЛОМ/data_analysis/Steel- Property and Composition (Stainless Steel).csv",
    encoding="cp1251"
)

stainless_df.head()

,SAE Grade,Conditions,UTS (MPa),UTS (Ksi),YS (MPa),YS (ksi),Elongation (%),Reduction (%),Hardness (HB),C (Min),...,Si (Max),Ni (Min),Ni (Max),Cr (Min),Cr (Max),Mo (Min),Mo (Max),Ti (Min),Ti (Max),N
0,Ferritic stainless steels(b),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,405,Annealed bar,483.0,70.0,276.0,40.0,30.0,60,150.0,NaN,...,1.0,NaN,NaN,NaN,13.00,NaN,NaN,NaN,NaN,NaN
2,405,Cold drawn bar,586.0,85.0,483.0,70.0,20.0,60,185.0,NaN,...,1.0,NaN,NaN,NaN,13.00,NaN,NaN,NaN,NaN,NaN
3,409,Annealed bar,450.0,65.0,240.0,35.0,25.0,-,135.0,NaN,...,1.0,NaN,NaN,NaN,11.13,NaN,NaN,NaN,0.75,NaN
4,430,Annealed bar,517.0,75.0,310.0,45.0,30.0,65,155.0,NaN,...,1.0,NaN,NaN,14.0,18.00,NaN,NaN,NaN,NaN,NaN

In [7]:
stainless_df.columns

Index(['SAE Grade', 'Conditions', 'UTS (MPa)', 'UTS (Ksi)', 'YS (MPa)',
       'YS (ksi)', 'Elongation (%)', 'Reduction (%)', 'Hardness (HB)',
       'C (Min)', 'C (Max)', 'Mn (Min)', 'Mn (Max)', 'P (Min)', 'P (Max)',
       'S (Min)', 'S(Max)', 'Si (Min)', 'Si (Max)', 'Ni (Min)', 'Ni (Max)',
       'Cr (Min)', 'Cr (Max)', 'Mo (Min)', 'Mo (Max)', 'Ti (Min)', 'Ti (Max)',
       'N'],
      dtype='object')